# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=
# Direct connection to the database. Used for migrations.
DIRECT_URL=
# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

API_DOC_BASIC_AUTH_USER=
API_DOC_BASIC_AUTH_PASS=

NEXT_PUBLIC_APP_URL="http://localhost:3000"
